button{
 
    position: absolute;
    /* margin-left:  630px;
    margin-top: 250px; */
  
    border-color: orangered;
    color: orangered;
    background-color: black;
    transition-duration: 900ms;
    /* display: flex; */
    /* flex-direction: column; */
    width: 100px;
    height: 35px;
    /* justify-content: center; */
    /* align-items: center; */
}

body{
    background-color: black;
}

button:hover{
    border-color: greenyellow;
    color: greenyellow;
    transform: scale(1.02);
    box-shadow: 0px 1px 4px greenyellow; 
}

*{
    margin: 0;
    padding: 0;
}

div {
    margin: auto;
    width: 100px;
    height: 35px;
    padding: 10px;
    margin-top: 250px;
  }